<ion-content padding>

        <div class="list">
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="Your First Name">
          </label>

          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Your Last Name">
          </label>

          <button class="button button-outline button-balanced">
              Create Profile
          </button>
        </div>  




        <ul class="list">
          <div class="item item-divider">Top 3 Progress Actions</div>


          <!-- <div>
          <ion-checkbox>Top Priority One</ion-checkbox>
          </div>
          <div>
          <ion-checkbox>Top Priority Two</ion-checkbox>
          </div> -->
            
            <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Top Priority One</span>
            </div>

            <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Top Priority Two</span>
            </div>

            <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Top Priority Three</span>
            </div>
          
            <a href="#" class="item item-avatar-right">
              Quick Connect to PPP
              <img src="http://placehold.it/80x80" alt="PPP Image"
            </button>
            </a>
      
          
          <div class="item item-divider">Daily Mind Gremlins Match</div>
            <div class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <span class="input-label">Mind Gremlin #1</span>
            </div>

            <div class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <span class="input-label">Mind Gremlin #2</span>
            </div>

      
          <div class="item item-divider">My Gratitude List</div>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 1</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 2</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 3</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 4</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 5</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 6</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 7</a>
            <a href="#" class="item item-icon-left"><i class="icon ion-ios-paw"></i>Gratitude 8</a>
        </ul>

        <div class="item item-divider">Other Profile Items</div>
        
        <label class="item item-radio">
        <input type="radio" name="social">
        <div class="item-content">Youtube</div>
        <i class="radio-icon ion-social-youtube"></i>
        </label>          

        <div class="item item-toggle padding">
          <span class="input-label">Awesomeness</span>
          <label class="toggle">
            <input class="checkbox">
            <div class="track"><div class="handle"></div></div>
          </label>  
        </div>

        <div class="item range range-royal">
          <i class="icon ion-sad-outline"></i>
          <input type="range" name="feeling"
          min="0" max="100" value="50">
          <i class-"icon ion-happy"></i>
        </div>

        <label class="item item-input item-select">
          <div class="input-label">Favorite Pet</div>
            <select>
              <option>Dog</option>
              <option>Cat</option>
              <option>Horse</option>
            </select>
        </label>  


     </ion-content>